<%-include ("./partials/header"); %>
    <p>
        <h1 class="text-center mb-3">
            <i class="fas fa-user"></i> USERS
        </h1>
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/api/user/search" class="btn btn-secondary">ALL</a></button>
        <a href="/api/user/search/state" class="btn btn-secondary">Filter BY State</a>
        <a href="/api/user/search/city" class="btn btn-secondary">Filter By City</a>
    </div>
    <table class="table table-hover" style="column-gap: 40px">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Profile</th>
                <th scope="col">Profile</th>
            </tr>
        </thead>
        <% for(var i=0; i < List.length; i++) { %>
            <tbody>
                <td>
                    <%= List[i].name %>
                </td>
                <td>
                    <%= List[i].username %>
                </td>
                <td>
                    <%= List[i].email %>
                </td>
                <td>
                    <%= List[i].address[0].city %>
                </td>
                 <td>
                    <%= List[i].address[0].state %>
                </td>
                <td>
                    <form method="GET" action="/api/user/searchUser">
                        <input type="hidden" class="form-control" id="username" name="username" value='<%=List[i].username%>'>
                        <input type="hidden" class="form-control" id="name" name="name" value='<%=List[i].name%>'>
                        <button type="submit" class="btn btn-outline-primary">Visit Profile</button>
                    </form>
                </td>
                <% if(!sr.includes(List[i].username)){%>
                    <td>
                        <form action='/api/user/sendRequest' method="POST">
                            <input type="hidden" name="username" id="username" value="<%=List[i].username%>">
                            <button type="submit" class="btn btn-success">sentRequest</buttton>
                        </form>
                    </td>
                <% }%>

                <% } %>
            </tbody>
    </table>